/*
!/.git
!/.gitignore
!/awesome/
!/alacritty/
!/audacity/
!/background.jpg
!/blender/
!/btop/
!/cava/
!/Creality/
!/CustomScripts/
!/cura/
!/compfy/
!/dolphinrc
!/dunst/
!/easyeffects/
!/fish/
!/GIMP/
!/gtk-2.0/
!/gtk-3.0/
!/gtk-4.0/
!/glava/
!/hypr/
!/i3/
!/inkscape/
!/JetBrains/
!/kdeglobals
!/kdeconnect/
!/kdenlive-layoutsrc
!/kdenliverc
!/kwalletrc
!/kitty/
!/kritadisplayrc
!/kritarc
!/libreoffice/
!/neofetch/
!/nitrogen/
!/nvim/
!/nwg-look/
!/obsidian/
!/obs-studio/
!/omf/
!/OpenRGB/
!/pavucontrol.ini
!/picom/
!/polybar/
!/pulse/
!/qt5ct/
!/qt6ct/
!/qtile/
!/QtProject/
!/QtProject.conf
!/rofi/
!/README
!/swaync/
!/spicetify/
!/vlc/
!/xsettingsd/
!/settings.zip
!/PCSetupGuide/
