/*
!/.git
!/.gitignore
!/awesome/
!/background.jpg
!/blender/
!/btop/
!/cava/
!/dolphinrc
!/dunst/
!/fish/
!/GIMP/
!/gtk-2.0/
!/gtk-3.0/
!/gtk-4.0/
!/hypr/
!/i3/
!/inkscape/
!/JetBrains/
!/kconf-updaterc
!/KDE/
!/kdeglobals
!/kdenlive-layoutsrc
!/kdenliverc
!/kde.org/
!/kiorc
!/kitty/
!/kritadisplayrc
!/kritarc
!/neofetch/
!/nitrogen/
!/nvim/
!/nwg-look/
!/obsidian/
!/obs-studio/
!/OpenRGB/
!/pavucontrol.ini
!/picom/
!/pulse/
!/qt5ct/
!/qt6ct/
!/qtile/
!/QtProject/
!/QtProject.conf
!/rofi/
!/swaync/
!/vlc/
!/xsettingsd/
!/settings.zip
